* {
    margin: 0;
    padding: 0;
}

.svg-container {
    width: 100%;
    /* This can be adjusted to fit your layout */
    height: auto;
    /* This ensures the height scales proportionally */
    display: block;
    /* Adjust as needed for your layout */
}

g:hover {
    fill: yellow;
}